@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

*{
	box-sizing: border-box;
}
body{
	background-color: #9b59b6;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	font-family: "Open Sans", sans-serif;
}

.container{
	background: #fff;
	border-radius: 10px;
	width: 400px;
	max-width: 100%;
	overflow: hidden;
}

.header{
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}
.header h2{
	margin: 0;
}

.form{
	/*background-color: green;*/
	padding: 30px 40px 30px 40px;
}
.form-control{
	/*background-color: red;*/
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control label{
	display: inline-block;
	/*background-color: blue;*/
	margin-bottom: 5px;
}
.form-control input{
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	font-family: inherit;
	border-radius: 4px;
	border: 2px solid #f0f0f0;
}
.form-control.success input{
	border-color: lightgreen;
}
.form-control.error input{
	border-color: red;
}
.form-control i{
	position: absolute;
	top: 40px;
	right: 10px;
	visibility: hidden;
}
.form-control.success i.fa-check-circle{
	color: lightgreen;
	visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
	color: red;
	visibility: visible;
}
.form-control small{
	position: absolute;
	left: 0;
	bottom: 0;
	/*background-color: black;*/
	/*color: white;*/
	visibility: hidden;
}
.form-control.error small{
	visibility: visible;
	color: red;
}
button{
	position: block;
	width: 100%;
	border: 2px solid #9b59b6;
	background: #9b59b6;
	color: white;
	border-radius: 6px;
	padding: 10px;
	font-size: 16px;
	font-family: inherit;
}